@using System.Globalization
@inject HttpClient Http

@if (currentState == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <h1>@currentState.groupName</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Money</th>
                <th>Water Level</th>
                <th>Water Influx</th>
                <th>Environment Cost</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @currentState.money.ToString("n0", CultureInfo.CreateSpecificCulture("nb-NO"))
                </td>
                <td>
                    @currentState.waterLevel.ToString("n2")
                </td>
                <td>
                    @influx.ToString("n3")
                </td>
                <td>
                    @currentState.environmentCost.ToString("n0")
                </td>
            </tr>

        </tbody>
    </table>








}

@code {
    private GroupState? currentState;
    private double influx;

    protected override async Task OnInitializedAsync()
    {
        var url = "/api/GroupState";

        currentState = await Http.GetFromJsonAsync<GroupState>(url);
        influx = await Http.GetFromJsonAsync<double>("/api/waterinflux");



    }

    public class GroupState
    {
        public string groupName { get; set; }

        public Int64 money { get; set; }

        public double waterLevel { get; set; }

        public Int64 environmentCost { get; set; }
    }
}

