@using System.Globalization
@inject HttpClient Http
@implements IDisposable


@if (currentState == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <h4>@SistHentet</h4>

    <table class="table">
        <thead>
            <tr>
                <th>Money</th>
                <th>Water Level</th>
                <th>Water Influx</th>
                <th>Environment Cost</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @currentState.money.ToString("n0", CultureInfo.CreateSpecificCulture("nb-NO"))
                </td>
                <td>
                    @currentState.waterLevel.ToString("n2")
                </td>
                <td>
                    @influx.ToString("n3")
                </td>
                <td>
                    @currentState.environmentCost.ToString("n0")
                </td>
            </tr>

        </tbody>
    </table>








}

@code {
    private GroupState? currentState;
    private double influx;
    private readonly PeriodicTimer Timer = new(TimeSpan.FromSeconds(1.5));
    private DateTime SistHentet;

    protected override async Task OnInitializedAsync()
    {
        SistHentet = DateTime.Now;
        await HentData();
    }

    private async Task HentData()
    {
        var url = "/api/GroupState";

        currentState = await Http.GetFromJsonAsync<GroupState>(url);
        influx = await Http.GetFromJsonAsync<double>("/api/waterinflux");
    }


    private async Task StartTimer()
    {
        while (await Timer.WaitForNextTickAsync())
        {
            await HentData();
            SistHentet = DateTime.Now;
            this.StateHasChanged();

        }
    }



    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var dummy = StartTimer();
        }
        return Task.CompletedTask;
    }

    public void Dispose()
    {
        Timer.Dispose();
    }


    public class GroupState
    {
        public string groupName { get; set; }

        public Int64 money { get; set; }

        public double waterLevel { get; set; }

        public Int64 environmentCost { get; set; }
    }
}

