@page "/login"
@using Blazorise


<PageTitle>Login</PageTitle>

<h1>login</h1>
<p>Du er @innloggettekst()</p>


<EditForm Model="@Model" OnValidSubmit="@HandleSubmit">
    <Field>
        <label class="form-label" for="username">Username</label>

        <InputText id="username" class="form-control" type="username" placeholder="Username" @bind-Value="@Model.Gruppenavn" />
    </Field>
    <Field>
        <label class="form-label" for="password">Passord</label>
        <InputText id="password" class="form-control" type="password" placeholder="Password" @bind-Value="@Model.Passord" />
    </Field>
    <Field>
        <button type="submit" class="btn btn-primary">Submit</button>
    </Field>
</EditForm>



@code {
    public LoginModel Model { get; set; } = new LoginModel();

    public bool innlogget { get; set; }

    private string innloggettekst()
    {
        return this.innlogget ? " logget inn" : "ikke logget inn";
    }


    public class LoginModel
    {
        public string Gruppenavn { get; set; }

        public string Passord { get; set; }
    }

    public void HandleSubmit()
    {
        Console.WriteLine("wesfgsdgwsg");
        innlogget = !innlogget;
    }
}